{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'shared/head.html' %}
  <!-- Local newer version scripts don't work -->
  <!-- <script src="{% static "js/aframe.min.js" %}"></script> -->
  <script src="https://aframe.io/releases/0.6.0/aframe.min.js"></script>
  <!-- <script src="{% static "js/aframe-ar.js" %}"></script> -->
  <script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
  <script>
    AFRAME.registerComponent('model-overrider', {
      init: function() {
        this.el.addEventListener('model-loaded', function(e) {
          var model = e.detail.model;
          model.traverse(function(o) {
            if (o instanceof THREE.Mesh) {
              // modify o.material or o.geometry here.
              o.material.vertexColors = THREE.VertexColors
            }
          });
        });
      }
    });
  </script>
  <link rel="stylesheet" type="text/css" href="{% static "css/armadillo.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/shards.css" %}">
</head>

<body class=index>

  <div class="container-fluid header">
    {% include 'shared/nav.html' %}
  </div>

  <div class="container marker-window">
    <span>
      <div class="card text-center" >
        <div class="card-header">
          <h2><span>AR</span>madillo</h2>
          Print this marker and hold this marker in front of your camera:
        </div>
    		<p>
          <a href='/api/neurovault/{{ image_id }}/qr' target="_blank">
            <img class="img-fluid" src='/api/neurovault/{{ image_id }}/qr'/>
          </a>
          <br />
          <small><a href='https://neurovault.org/images/{{ image_id }}' target="_blank">NeuroVault Image</a></small>
    		</p>
        <div>
          <div>
            Fork or star us on GitHub!
          </div>
          <a class="github-button" href="https://github.com/TimVanMourik/Armadillo" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star TimVanMourik/Armadillo on GitHub">
            Star
          </a>
          <a class="github-button" href="https://github.com/TimVanMourik/Armadillo/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork TimVanMourik/Armadillo on GitHub">
            Fork
          </a>
        </div>
      </div>
      <div class="marker-button">
        <button type="button" class="btn btn-primary btn-pill " aria-label="Close">
          <span aria-hidden="true">Close marker window</span>
        </button>
      </div>
    </span>
    <!-- <span class="button">+</span> -->
  </div>
  <div class="spinner"></div>

  <!-- TODO: output of settings.DEBUG  -->
  <!-- <a-scene embedded arjs='trackingMethod: best; debugUIEnabled:{{settings.DEBUG}}'> -->
  <div id="camdiv">
  <a-scene class="scene" embedded arjs='trackingMethod: best; debugUIEnabled:false'>
    <a-assets>
      <a-asset-item id="rh-model" src="/api/neurovault/{{ image_id }}/models/right" crossOrigin="anonymous"></a-asset-item>
      <a-asset-item id="lh-model" src="/api/neurovault/{{ image_id }}/models/left" crossOrigin="anonymous"></a-asset-item>
    </a-assets>
    <a-marker model-overrider preset='custom' type='pattern' url='https://raw.githubusercontent.com/TimVanMourik/Armadillo/master/app/armadillo/static/img/patt/pattern-marker.patt'>
    <a-collada-model src="#rh-model"  position="0 0 0" scale="0.01 0.01 0.01" rotation="0 180 0">
      <a-animation attribute="rotation" to="0 180 360" dur="5000" easing='linear' repeat="indefinite"></a-animation>
    </a-collada-model>
    <a-collada-model src="#lh-model"  position="0 0 0" scale="0.01 0.01 0.01" rotation="0 180 0" material='opacity: 0.5;'>
      <a-animation attribute="rotation" to="0 180 360" dur="5000" easing='linear' repeat="indefinite"></a-animation>
    </a-collada-model>
    </a-marker>
    <a-entity camera></a-entity>
  </a-scene>
</div>

  {% include 'shared/footer.html' %}
  <script>
    var $container = $('.marker-window');
    function toggleMenu() {
      $container.toggleClass('marker-window-closed');
    }
    $button = $('.close-marker-button');
    $button.on('click', toggleMenu);
  </script>

</body>
{% include 'shared/analytics.html' %}
</html>
