{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'shared/head.html' %}

  <script src="{% static " js/jquery-3.3.1.min.js " %}"></script>

  <link rel="stylesheet" type="text/css" href="{% static "css/armadillo.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/shards.css" %}">
</head>
<body>

<!-- Welcome Section -->
<div class="welcome d-flex justify-content-center flex-column bg-primary">
  <!-- Inner Wrapper -->
  <div class="mt-auto mb-auto container">
    <div class="row align-items-center">
      <div class="col-md-7">
          <h1 class="welcome-heading display-4 text-white">ARmadillo</h1>
          <p class="text-white">Welcome to the <b>ARmadillo</b> web app, which creates <b>A</b>ugmented <b>R</b>eality 3D brain images from the <a class="text-white font-weight-bold" href="https://neurovault.org/" target="_blank"> Neurovault</a> database.</p>
          <a href="neurovault/{{randomImageId}}" class="btn btn-lg btn-outline-white btn-pill align-self-center">Take it for a spin</a>
      </div>
      <div class="col">
        <img src="{% static 'img/brain.svg' %}" />
      </div>
    </div>
  </div>
  <!-- / Inner Wrapper -->
</div>
<!-- / Welcome Section -->

<div class="container my-5">

  <div class="card-deck">
    <div class="col-md-12 col-lg-4">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Example 1</h4>
          <a class="btn btn-primary btn-pill btn-block" href="neurovault/64604">Open</a>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-4">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Example 2</h4>
          <a class="btn btn-primary btn-pill btn-block" href="neurovault/31997">Open</a>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-4">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Example 3</h4>
          <a class="btn btn-primary btn-pill btn-block" href="neurovault/64605">Open</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container py-5">
  <div class="col-9">
    <h2>Try it on your own data</h2>
    <div id="list2">
    <ol>
      <li> Upload your surface fMRI results to <a href="https://neurovault.org/" target="_blank">NeuroVault</a> repository.</li>
      <li> Get your unique image code: <b>https://neurovault.org/images/[<em>IMAGE-ID</em>]</b></li>
      <li> Open the ARmadillo generator: <b>https://www.armadillobrain.app/neurovault/[<em>IMAGE-ID</em>] </b></li>
      <li> Put the marker with <b>QR code</b> on your poster.</li>
      <li> Invite your audience to use their phones and wow them with the augmented reality brains!</li>
    </ol>
  </div>
  </div>
</div>

<center>
  <h4>Hacked together</h4>
  <p>Armadillo was created at the <a class="font-weight-bold" href="https://www.brainhack.org/">OHBM Brainhack 2018</a> in Singapore by a group of AR nerds.</p>
</center>

<div class="container my-5">
  <div class="card-deck">
    <div class="col-md-12 col-lg-4">
      <div class="card mb-4">
        <a href="https://github.com/TimVanMourik" target="_blank">
          <div class="card-body">
            <h4 class="card-title">Tim van Mourik</h4>
            <p class="card-text">Neuroscientist, data analyst, open science/source advocate, workflow expert, visualisation nerd</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-12 col-lg-4">
      <div class="card mb-4">
        <a href="https://github.com/dcmoyer" target="_blank">
          <div class="card-body">
            <h4 class="card-title">Daniel Moyer</h4>
            <p class="card-text">
              Computer Science PhD student at the University of Southern California
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-12 col-lg-4">
      <div class="card mb-4">
          <a href="https://github.com/dokato" target="_blank">
            <div class="card-body">
              <h4 class="card-title">Dominik Krzemiński </h4>
              <p class="card-text">Data Scientist, Machine Learning enthusiast, Computational Neuroscience PhD student at Cardiff University</p>
            </div>
          </a>
      </div>
    </div>

  </div>
</div>

<center>
  <a href="https://github.com/TimVanMourik/Armadillo" target="_blank"><img src="{% static 'img/gh-icon.png' %}" width="4%"/></a>
  <h4>2018</h4>
</center>

  <!-- <div id="welcome-box">
    <div id="title">
      <img src="{% static 'img/marker.png' %}" />
      <h1><span>AR</span>madillo</h1>
    </div>
    <p> Welcome to the <b>ARmadillo</b> web app, which creates <b>A</b>ugmented <b>R</b>eality 3D brain images from the <a href="https://neurovault.org/" target="_blank"> Neurovault</a> database.</p>
    <div id="columns">

      <div id="second">
        Try out some of the examples below and use the marker displayed in the sidebar to see the effect:
        <ul>
          <li><a href="neurovault/64604"> Example 1</a></li>
          <li><a href="neurovault/31997"> Example 2</a></li>
          <li><a href="neurovault/64605"> Example 3</a></li>
        </ul>
      </div>
    </div>
    <div id="welcomefoot">
      <a href="https://github.com/TimVanMourik/Armadillo" target="_blank"><img src="{% static 'img/gh-icon.png' %}"/> </a>
      <p> Authors: <i>Tim Van Mourik, Daniel Moyer, Dominik Krzemiński</i> <br /> Created at <b>OHBM Brainhack 2018</b> in Singapore
      </p>
    </div>
  </div> -->



</body>
{% include 'shared/analytics.html' %}

</html>
