{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'shared/head.html' %}

  <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>

  <link rel="stylesheet" type="text/css" href="{% static "css/armadillo.css" %}">

</head>
<body class=index>
  <div id="mydiv">
      <h1>Armadillo</h1>
      <p> Welcome to the Armadillo app, which creates augmented reality <a href="https://neurovault.org/" target="_blank"> neurovault</a> images.</p>
      <p> Try it out like this: <a href="neurovault/64604"> EXAMPLE</a> and use the marker displayed in the sidebar to see the effect. </p>
      <small>
        <p> Authors: Tim Van Mourik, Daniel Moyer, Dominik Krzemiński</p>
        <p>Created at OHBM Brainhack 2018 in Singapore</p>
      </small>
  </div>

  </body>
{% include 'shared/analytics.html' %}

</html>
